<!DOCTYPE html>
<html>
<head>
	<title>ok</title>
</head>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<style type="text/css">
	body{
		background-color: #2980b9;
	}
	h5 {
		font-color: "#ecf0f1";
		font-size: bold;
	}
</style>
<body>
	<div align="center">
		<h5>Notifications from server</h5>

		<input type="text" id="mensaje">

		<button onclick="enviar()">Send Notifications</button>
	</div>
<script type="text/javascript">
	var server = "10.0.0.7"
	//ar server = "207.249.127.174"
	var socket = io.connect(`http://${server}:3000`, { transports: ['websocket'] });

	console.log(`Conection http://${server}:3000`)

	console.log("Notifications : ")
	var mensajes =[]

	

	function enviar() {
		let alerta = {

			id : "Alert:1",
			type : "Alert",
			alertType : "Traffic Jam",
			eventObserved : "Choque tremendo",
			location : {
				type : "feature",
				coodinates : [ 18.87649,-99.21986]
			},
			datetime: "2017-08-30T07:03:38.00Z",
			description : "Esto es una emergencia"

		}
		socket.emit('alert', alerta)
	}
	socket.on('alert', (alert) =>{
		
		mensajes.push(alert)
		console.log(JSON.stringify(alert))
	})
	/*

	{
		id : "Alert:1",
		type : "Alert",
		alertType : "Traffic Jam",
		eventObserved : "Choque tremendo",
		location : {
			type : "feature",
			coodinates : [ long, lat]
		},
		datetime: "2017-08-30T07:03:38.00Z"
		description : "Esto es una emergencia"

	}

	*/
</script>

</body>
</html>